body{
  font-family: "Nunito", serif;
  background: rgb(250, 250, 250);
  overflow-x: hidden;
}
.container{
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}
header{
  padding-bottom: 200px;
  position: relative;
  > img{
    position: absolute;
    width: 100vw;
    height: 622px;
    object-fit: cover;
    z-index: -1;
  }
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}
.header_main{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;

}
.header_main-text{
  color: $white;

  h1{
    font-size: 50px;
    font-weight: 800;
    max-width: 437px;
    line-height: 120%;
  }
  span{
    color: $orangeDark;
  }
  p{
    font-size: 16px;
    margin-top: 52px;
  }
}

.first_section{
  margin-top: 40px;

}

.categories {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0);
}



.categories::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.categories::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.category_item{
  cursor: pointer;
  padding: 8px 14px;
  background: $white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 8px;

}
.second_section{
  margin-top: 50px;
}
.cart{
  margin-top: 64px;
  width: 300px;
  background: $white;
  border-radius: 18px;
  padding: 28px 16px;
  color: $black;

}
.cart_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3{
    font-size: 24px;
    font-weight: 600;
  }
}
.products_count{
  width: 41px;
  height: 20px;
  background: $gray;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.cart_item{
  margin-top: 12px;
  border-bottom: 1px solid $gray;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child{
    border-top: 1px solid $gray;
  }

}
.cart_item-img{
  width: 64px;
  height: 52px;
  border-radius: 8px;
  background: red;
}
.cart_item-info{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  p{
    &:nth-of-type(1){
      color: rgba(177, 177, 177, 1);
    }
    &:nth-of-type(2){
      margin-top: 6px;
    }
  }
}
.cart_item-details{
  margin-left: 8px;
}
.cart_item-count{
  width: 84px;
  height: 40px;
  background: $gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  button{
    padding: 5px;
    background: none;
  }

}
.cart_cost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
}
.place_order{
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background: #FF7020;
  color: white;
  font-size: 16px;
  margin-top: 24px;
}
.delivery{
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
._second{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.products{
  max-width: 960px;
  width: 100%;
  h2{
    font-size: 40px;
    font-weight: 600;
  }
}
.products_list{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.product{
  border-radius: 18px;
  width: 300px;
  height: 411px;
  background: $white;
  padding: 12px;
}
.price{
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}
.product_name{
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.product_weight{
  color: rgba(177, 177, 177, 1);
  font-size: 16px;
  font-weight: 600;
  margin-top: 29px;
}
.add_button{
  width: 100%;
  height: 40px;
  background: $gray;
  margin-top: 8px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
}
footer{
  margin-top: 100px;
  background: $white;
  height: 244px;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    > img{
      height: 58px;

    }
  }
}

// popups

.popups{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.53);
}

.delivery_popup{
  position: relative;
  max-width: 684px;
  width: 100%;
  height: 432px;
  display: flex;
  border-radius: 24px;
  overflow: hidden;
}
.left_side{
  width: 50%;
  height: 100%;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_side{
  width: 50%;
  height: 100%;
  background: $gray;
  padding: 0 24px;
  img{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  h2{
    font-size: 24px;
    font-weight: 600;
    margin-top: 54px;
  }
  form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;

  }
}

.writeInput{
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #F2F2F3;
  padding: 12px;
  &:nth-of-type(2){
    margin-top: 8px;
  }
  &:nth-of-type(3){
    display: none;
    margin-top: 16px;
  }
  &:nth-of-type(4){
    display: none;
    margin-top: 8px;
  }
}
.radioInput{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
  &:nth-of-type(2){
    margin-top: 12px;
  }
}

@media (max-width: 1279px) {
  .container{
    max-width: 1000px;
  }
  .second_section{
    margin-top: 30px;
  }
  .cart{
    margin-top: 0;
    position: relative;
  }
  .cart_all-items{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    padding: 28px 16px;
  }
  .products{
    margin-top: 30px;
  }

}

@media (max-width: 950px) {
  header{
    > img{
      height: 720px;
    }
  }
  .header_main{
    flex-direction: column-reverse;
    text-align: center;
  }
}




